syntax: glob

*.o
*.a
*.so
*.gch
*.swp
*.DS_Store
*.orig
*.pbxproj
*.xcworkspacedata
*.xcuserstate
*.xcbkptlist
*.xcscheme
*.xcsettings
*.plist
*.log
*.lo
*.mod
*.Plo
*.dylib
*.status
*.la
*.lai
*.plo
*/libtool
*.expsym
*MAS.bak
*.dat
*.dSYM
*.m~
*.macosx
*.unix
core/build/*
core/src/MaverickPython/build/*
core/src/MaverickPython/*.so
core/src/MaverickPython/*.c
core/include/

**/out.txt
**/mh_out.txt
**/read_sol.m
**/read_mesh_history.m
