syntax: glob

*.o
*.a
*.so
*.gch
*.swp
*.DS_Store
*.orig
*.pbxproj
*.xcworkspacedata
*.xcuserstate
*.xcbkptlist
*.xcscheme
*.xcsettings
*.plist
*.log
*.lo
*.mod
*.Plo
*.dylib
*.status
*.la
*.lai
*.plo
*/libtool
*.expsym
*MAS.bak
*.dat
*.dSYM
*.m~
*.macosx
*.unix
*.out

#core
lib/build/*
lib/src/MaverickPython/build/*
lib/src/MaverickPython/*.so
lib/src/MaverickPython/*.c
lib/include/
lib/src/Lua/src/lua
lib/src/Lua/src/luac
lib/.idea
lib/cmake-*
lib/CMake*

#examples
**/out.txt
**/mh_out.txt
**/read_sol.m
**/read_mesh_history.m

#test
core/test/*

#Vscode
.vscode/*

#Jupyter
.ipynb_checkpoints

#Jetbrains
.idea

#python
build
*.pyc
*.egg-info
